@font-face{
	font-family: Calibri Mobile;
	src: url(https://fonts.gstatic.com/l/font?kit=J7afnpV-BGlaFfdAhLEY6w&skey=a1029226f80653a8&v=v11) format('woff1');
}

body{
	font-family: Calibri, Calibri Mobile, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	color: #e8e8e8;
	background-color: #212121;
	transition: 0.5s;
	height: 100%;
	overflow: hidden;
	-webkit-user-select: none;     
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#main{
	max-width: 1000px;
	height: 800px;
	margin: auto;
	background-color: #333333;
	box-shadow: 0px 0px 20px -2px black;
	border: 1px solid black;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	margin-bottom: 20px;
	overflow: hidden
}

#header{
	width: 100%;
	height: 10%;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#title{
	text-align: center;
	box-sizing: border-box;
	font-size: 40px;
	color: white;
	-webkit-user-select: none;     
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-variant: small-caps;
}

#title_t{
}

#block{
	width: 100%;
	height: 90%;
}

#l_block{
	width: 100%;
	height: 100%;
	float: left;
}

#r_block{
	
}

#output_block{
	width: 100%;
	height: 30%;
	padding: 4px 4px 2px 4px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#output_window{
	width: 100%;
	height: 100%;
	background-color: #363636;
	text-align: right;
	font-size: 38px;
	padding: 20px;
	word-wrap: break-word;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	overflow: auto;
}

#output{
	transition: 0.2s;
}

#equation{
	font-size: 18px;
	color: #d1d1d1;
	transition: 0.2s;
}

#panel{
	width: 100%;
	height: 70%;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-webkit-user-select: none;     
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button_holder{
	width: 25%;
	height: 20%;
	padding: 2px;
	float: left;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.button_holder_big{
	width: 50%;
	height: 20%;
	padding: 2px;
	float: left;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.button_function{
	width: 100%;
	height: 100%;
	background-color: #2b2b2b; /*#2b2b2b*/
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	transition: 0.5s;
}

.button_function_equals{
	width: 100%;
	height: 100%;
	background-color: #c40038;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	transition: 0.5s;
}

.button_number{
	width: 100%;
	height: 100%;
	background-color: #242424; /*#242424*/
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	transition: 0.5s;
}

.button_number_big{
	width: 100%;
	height: 100%;
	background-color: #242424; /*#242424*/
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	transition: 0.5s;
}

.button_center{
	position: relative;
	top: 38%;
	width: 100%;
}

.button_function:active{
	background-color: #2e2e2e;
	transition: 0.2s;
}

.button_function_equals:active{
	background-color: #96002b;
	transition: 0.2s;
}

.button_number:active{
	background-color: #2e2e2e;
	transition: 0.2s;
}

.button_number_big:active{
	background-color: #2e2e2e;
	transition: 0.2s;
}

#buttons_left{
	height: 120px;
	width: 40px;
	padding-top: 10px;
	margin-left: 5px;
	float: left;
	position: absolute;
	opacity: 1;
}

#gb{
	width: 25px;
	height: 6.3px;
	margin-top: 5px;
	margin-left: 4.5px;
	float: left;
	clear: both;
}

#pl{
	width: 25px;
	height: 6.3px;
	float: left;
	margin-left: 4.5px;
	margin-top: 20px;
	clear: both;
}

#gb_img{
	border-radius: 5px;
	box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.6);
}

#pl_img{
	border-radius: 5px;
	box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.6);
}

#gb:active{
	opacity: 0.7;
	transition: 0.2s;
}

#pl:active{
	opacity: 0.7;
	transition: 0.2s;
}

#buttons_right{
	position: absolute;
	right: 0;
	top: 30px;
}

#pop{
	position: absolute;
	right: 0;
	top: 20px;
	width: 0px;
	height: 90%;
	z-index: 99;
	transition-property: width;
	transition: 1s;
	background-color: #212121;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.6);
	overflow: auto;
}

#pop.move{
	width: 80%;
}

#pop_button{
	position: absolute;
	right: 15px;
	height: 30px;
	width: 30px;
	text-align: center;
	padding-top: 4.5px;
	background-color: #242424;
	font-weight: bold;
	border-radius: 5px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	transition: 0.2s;
}

#pop_button:active{
	background-color: #2e2e2e;
	transition: 0.2s;
}

#pop_header{
	display: none;
}

#pop_header.on{
	display: inherit;
}

#pop_back{
	width: 30px;
	height: 30px;
	text-align: center;
	padding-top: 4.5px;
	margin: 5px 0px 0px 5px;
	background-color: #242424;
	font-weight: bold;
	border-radius: 5px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#pop_back:active{
	background-color: #2e2e2e;
	transition: 0.2s;
}

#pop_history{
	width: 30px;
	height: 30px;
	text-align: center;
	padding-top: 4.5px;
	margin: 5px 0px 0px 5px;
	background-color: #242424;
	font-weight: bold;
	border-radius: 5px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#pop_history:active{
	background-color: #2e2e2e;
	transition: 0.2s;
}

#pop_title{
	position: relative;
	text-align: center;
	transition-delay: 2s;
	transition-duration: 2s;
	top: -15px;
	font-variant: small-caps;
	font-size: 20px;
}

#pop_block{
	display: none;
}

#pop_block.on{
	display: inherit;
}

.block_holder{
	width: 100%;
	height: 12.5%;
	padding: 2px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.h_block{
	width: 100%;
	height: 100%;
	background-color: #363636;
	font-size: 16px;
	text-align: left;
	padding: 15px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	transition: 0.2s;
	overflow: hidden;
}

/*
.result{
	float:right;
}

.output_h{
	float:right;
}
*/


/*SCROLLBAR*/
/*SCROLLBAR*/
/*SCROLLBAR*/


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333333;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #262626;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #242424;
}





/*DARK MODE TOGGLE SWITCH*/
/*DARK MODE TOGGLE SWITCH*/
/*DARK MODE TOGGLE SWITCH*/

/*
#switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 26px;
  float: right;
  right: 30px;
  top: 28px;
}

#switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #242424;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: #ebebeb;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: white;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
  background-color: black;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*