body{
	font-family: 'Calibri';
	color: #333333;
	background-color: white;
	transition: 0.5s;
}

#main{
	max-width: 1000px;
	height: 800px;
	margin: auto;
	margin-top: 25px;
	background-color: #e0e0e0;
	background-image: linear-gradient(#f5f5f5, #e0e0e0);
	box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.4);
	border: 1px solid rgba(0,0,0,0.2);
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#header{
	width: 100%;
	height: 10%;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#title{
	text-align: center;
	box-sizing: border-box;
	padding-top: 5px;
	font-size: 55px;
	color: #333333;
	-webkit-user-select: none;     
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-variant: small-caps;
}

#title_t{
	position: relative;
	left: 20px;
}

#block{
	width: 100%;
	height: 90%;
}

#l_block{
	width: 65%;
	height: 100%;
	float: left;
}

#r_block{
	width: 35%;
	height: 100%;
	float: right;
    padding: 2px;
	padding-left: 0px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	overflow: auto;
}

#output_block{
	width: 100%;
	height: 30%;
	padding: 4px 4px 2px 4px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#output_window{
	width: 100%;
	height: 100%;
	background-color: #ededed;
	box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.2);
	text-align: right;
	font-size: 38px;
	padding: 20px;
	word-wrap: break-word;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	overflow: auto;
}

#output{
	transition: 0.2s;
}

#equation{
	font-size: 18px;
	color: #464646;
	transition: 0.2s;
}

#panel{
	width: 100%;
	height: 70%;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-webkit-user-select: none;     
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button_holder{
	width: 25%;
	height: 20%;
	padding: 2px;
	float: left;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.button_holder_big{
	width: 50%;
	height: 20%;
	padding: 2px;
	float: left;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.button_function{
	width: 100%;
	height: 100%;
	padding-top: 35px;
	background-color: #fafafa; /*#2b2b2b*/
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	transition: 0.5s;
	box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.2);
}

.button_function_equals{
	width: 100%;
	height: 100%;
	padding-top: 35px;
	background-color: #7de2ff;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	transition: 0.5s;
	box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.2);
}

.button_number{
	width: 100%;
	height: 100%;
	padding-top: 35px;
	background-color: white; /*#242424*/
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	transition: 0.5s;
	box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.2);
}

.button_number_big{
	width: 100%;
	height: 100%;
	padding-top: 35px;
	background-color: white; /*#242424*/
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	transition: 0.5s;
	box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.2);
}

.button_function:hover{
	background-color: #bababa;
	transition: 0.2s;
}

.button_function_equals:hover{
	background-color: #22cdff;
	transition: 0.2s;
}

.button_number:hover{
	background-color: #bababa;
	transition: 0.2s;
}

.button_number_big:hover{
	background-color: #bababa;
	transition: 0.2s;
}

.button_function:active{
	background-color: #a7a7a7;
	transition: 0.2s;
}

.button_function_equals:active{
	background-color: #1e9ec3;
	transition: 0.2s;
}

.button_number:active{
	background-color: #a7a7a7;
	transition: 0.2s;
}

.button_number_big:active{
	background-color: #a7a7a7;
	transition: 0.2s;
}

.block_holder{
	width: 100%;
	height: 12.5%;
	padding: 2px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.h_block{
	width: 100%;
	height: 100%;
	background-color: #ededed;
	font-size: 25px;
	text-align: right;
	padding: 15px;
	padding-top: 26px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	transition: 0.2s;
	overflow: hidden;
	box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.2);
}

.h_block:hover{
	background-color: #bababa;
	transition: 0.2s;
}

#bin{
	position: relative;
	height: 40px;
	width: 40px;
	float: right;
	color: black;
	background-color: white;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	right: 80px;
	bottom: 777px;
	border-radius: 5px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	transition: 0.2s;
	-webkit-user-select: none;     
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.3);
}

#bin:hover{
	background-color: #bababa;
	transition: 0.2s;
}

#bin:active{
	background-color: #a7a7a7;
	transition: 0.2s;
}

#buttons_left{
	position: relative;
	bottom: 765px;
	left: 20px;
}

#gb{
	width: 30px;
	height: 7.5px;
	float: left;
}

#pl{
	width: 30px;
	height: 7.5px;
	float: left;
	margin-left: 5px;
}

#help{
	width: 40px;
	height: 40px;
	position: relative;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	right: 90px;
	bottom: 777px;
	background-color: white;
	float: right;
	border-radius: 5px;
	color: black;
	padding-top: 1.5px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	transition: 0.2s;
	-webkit-user-select: none;     
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.3);
}

#help:hover{
	background-color: #bababa;
	transition: 0.2s;
}

#help:active{
	background-color: #a7a7a7;
	transition: 0.2s;
}

#gb_img{
	border-radius: 5px;
	box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.3);
}

#pl_img{
	border-radius: 5px;
	box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.3);
}

#gb:hover{
	opacity: 0.7;
	transition: 0.2s;
}

#pl:hover{
	opacity: 0.7;
	transition: 0.2s;
}

/*
.result{
	float:right;
}

.output_h{
	float:right;
}
*/


/*SCROLLBAR*/
/*SCROLLBAR*/
/*SCROLLBAR*/


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(180deg, rgba(245,245,245,1) 0%, rgba(224,224,224,1) 100%);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d5d5d5;
}

/* Handle on active */
::-webkit-scrollbar-thumb:active {
  background: #bababa;
}



/*DARK MODE TOGGLE SWITCH*/
/*DARK MODE TOGGLE SWITCH*/
/*DARK MODE TOGGLE SWITCH*/


.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 26px;
  float: right;
  right: 30px;
  top: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #242424;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.3);
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: #ebebeb;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: white;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
  background-color: black;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}