body{
	font-family: 'Calibri';
	color: #333333;
	background-color: white;
	transition: 0.5s;
	-webkit-user-select: none;     
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#main{
	max-width: 1000px;
	height: 800px;
	margin: auto;
	margin-top: 25px;
	background-color: #333333;
	background-image: linear-gradient(#f5f5f5, #e0e0e0);
	box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.4);
	border: 1px solid rgba(0,0,0,0.2);
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#header{
	width: 100%;
	height: 10%;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#title{
	text-align: center;
	box-sizing: border-box;
	padding-top: 5px;
	font-size: 55px;
	color: black;
	font-variant: small-caps;
}

#title_t{
	position: relative;
	left: 20px;
}

#block{
	width: 95%;
	height: 83%;
	margin: auto;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	overflow: auto;
}

.filler_top{
	width: 100%;
	height: 2%;
}

.filler_bottom{
	width: 100%;
	height: 5%;
}

.l_title{
	width: 100%;
	height: 10%;
	background-color: #fafafa;
	border-radius: 5px 0px 0px 5px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	overflow: hidden;
	transition: 0.2s;
	box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.2);
}

.legend{
	width: 100%;
	height: 10%;
	margin-top: 10px;
	background-color: #fafafa;
	border-radius: 5px 0px 0px 5px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	overflow: hidden;
	transition: 0.2s;
	box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.2);
}

.l_title:hover{
	background-color: #bababa;
	transition: 0.2s;
}

.legend:hover{
	background-color: #bababa;
	transition: 0.2s;
}

.l_left{
	width: 25%;
	height: 100%;
	padding: 12px;
	font-size: 30px;
	text-align: center;
	border-right: 1px solid #dfdfdf;
	float: left;
	font-variant: small-caps;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.l_right{
	width: 75%;
	height: 100%;
	text-align: center;
	font-size: 20px;
	padding: 19px;
	float: right;
	font-variant: small-caps;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.l_main{
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 40px;
	color: black;
	padding: 7px;
	float: right;
	font-variant: small-caps;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#buttons_left{
	position: relative;
	bottom: 765px;
	left: 20px;
}

#gb{
	width: 30px;
	height: 7.5px;
	float: left;
}

#pl{
	width: 30px;
	height: 7.5px;
	float: left;
	margin-left: 5px;
}

#gb_img{
	border-radius: 5px;
	box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.6);
}

#pl_img{
	border-radius: 5px;
	box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.6);
}

#gb:hover{
	opacity: 0.7;
	transition: 0.2s;
}

#pl:hover{
	opacity: 0.7;
	transition: 0.2s;
}

#back{
	position: relative;
	height: 40px;
	width: 40px;
	float: right;
	color: black;
	background-color: white;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	right: 80px;
	bottom: 777px;
	border-radius: 5px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	transition: 0.2s;
	-webkit-user-select: none;     
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.3);
}

#back:hover{
	background-color: #bababa;
	transition: 0.2s;
}

#back:active{
	background-color: #a7a7a7;
	transition: 0.2s;
}

/*
.result{
	float:right;
}

.output_h{
	float:right;
}
*/


/*SCROLLBAR*/
/*SCROLLBAR*/
/*SCROLLBAR*/


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(180deg, rgba(245,245,245,1) 0%, rgba(224,224,224,1) 100%);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #fafafa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d5d5d5;
}

/* Handle on active */
::-webkit-scrollbar-thumb:active {
  background: #bababa;
}





/*DARK MODE TOGGLE SWITCH*/
/*DARK MODE TOGGLE SWITCH*/
/*DARK MODE TOGGLE SWITCH*/


.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 26px;
  float: right;
  right: 30px;
  top: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #242424;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.3);
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: #ebebeb;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: white;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
  background-color: black;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}